body {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	background-color: #DBEFF7;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	text-align: center;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
}
p {
	font-size: 20px;
}

select {
	font-family: 'Raleway', sans-serif;
	background-color: white;
}
table, th, td {
	vertical-align: top;
	border: 1px solid black;
}

input[type=submit]{
	background-color: black;	
	color: white;
	border: none;
	padding: 5px;
}
